version: "3"
    
services:
  mysql:
    image: {{ docker_image_name_mysql }}
    container_name: {{ docker_container_name_mysql }}
    volumes:
      - {{ compose_project_dir }}/mysql_data:/var/lib/mysql
      - {{ deploy_dir_conf }}/mysql/conf.d:/etc/mysql/conf.d:ro
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - {{ docker_ports_mysql }}
    networks:
      - "back" 
  
  wordpress:
    depends_on:
      - mysql
    image: "wordpress:latest"
    container_name: {{ docker_container_name_wp }}
    volumes:
      - {{ docker_volume_name }}:/var/www/html
      - {{ deploy_dir_uploads }}:/var/www/html/wp-content/uploads:rw
      - {{ deploy_dir_conf }}/php/wordpress.ini:/usr/local/etc/php/conf.d/wordpress.ini:ro
      - {{ deploy_dir_conf }}/php/www.conf:/usr/local/etc/php-fpm.d/www.conf:ro

    ports:
      - "9000"
    restart: unless-stopped
    env_file:
      - ./.env
    networks:
      - "front"
      - "back"

  nginx:
    image: "nginx:latest"
    restart: unless-stopped
    links:
        - wordpress
    ports:
        - 80:80
        - 443:443

    volumes:
        - {{ docker_volume_name }}:/var/www/html
        - {{ deploy_dir_uploads }}:/var/www/html/wp-content/uploads
        - {{ deploy_dir_conf }}/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
        - {{ deploy_dir_conf }}/nginx/nginxconfig.io/:/etc/nginx/nginxconfig.io/:ro
        - {{ deploy_dir_conf }}/nginx/ssl/:/etc/nginx/ssl/:ro
    env_file:
      - ./.env
    container_name: {{ docker_container_name_nginx }}
    healthcheck:
        test: ["CMD", "wget", "-q", "--no-check-certificate", "--spider", "http://localhost/"]
        interval: 10s
        timeout: 5s
        retries: 60
    depends_on:
        - wordpress
        # - mysql
    networks:
      - "front"

networks:
  back:
  front:
volumes:
  {{ docker_volume_name }}: