---
# setup compose dir structure
- name: setup compose dir structure
  file:
    path: "{{ compose_project_dir }}/{{ item }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    recurse: yes
    mode: 0755
  with_items:
  - backups/mysql/dumps/
  - conf

  tags:
    - dir_ops

- name: Stop application
  command: docker-compose -f docker-compose.yml down -v
  args:
    chdir: "{{ compose_project_dir }}"
  ignore_errors: true

# Copy config files and envs
- name: Copy config files and envs
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "755"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    
  with_items:
    - { src: '{{ work_dir }}/conf/{{ app_env }}/',dest: '{{ compose_project_dir }}/conf'}
    - { src: '{{ work_dir }}/.env', dest: '{{ compose_project_dir }}'}
  
  tags:
    - files_copy

- name: Create docker-compose.yml file
  file:
    path: "{{ compose_project_dir }}/docker-compose.yml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    state: touch
  tags:
    - create_compose

- name: Deploy Docker Compose project for Wordpress/MySQL/Nginx
  template:
    src: docker-compose.j2
    dest: "{{ compose_project_dir }}/docker-compose.yml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: 0644
  tags:
    - fill_compose

- name: install pip3
  apt: name=python3-pip state=present 
  tags:
    - pip3
  become: true

- name: install certain python modules for docker
  pip:
    name: "{{ item.name }}"
    version: "{{ item.version }}"
    state: present
  with_items:
    - { name: docker, version: 6.0.1 }

- name: Run docker-compose pull
  command: docker-compose -f docker-compose.yml pull
  args:
    chdir: "{{ compose_project_dir }}"

- name: Run docker-compose up
  command: docker-compose -f docker-compose.yml up -d
  args:
    chdir: "{{ compose_project_dir }}"

- name: Copy conf files to wp container
  command: docker cp "{{ deploy_dir_conf }}"/wp/. "{{ docker_container_name_wp }}":/var/www/html 

- name: Get details of all images
  docker_host_info:
    images: yes
    verbose_output: yes
  register: image_info

- name: Remove old image
  shell: docker system prune -af || true
  args:
    chdir: "{{ compose_project_dir }}"
  ignore_errors: true   